{{> head }}
    {{> navbar }}
    <div class="row">
        <div class="col-8">
            <h1>Logo Node</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo architecto, dolor at nostrum animi eligendi totam consequuntur. Enim perferendis tenetur alias soluta unde est. Provident debitis tempore minus veniam itaque?</p>
        </div>
        <div class="col-4">
            <img src="assets/img/logo.png" alt="" class="img-thumbnail">
        </div>
    </div>
{{> footer }}